{% extends 'base.html' %}

{% block content %}
    {{block.super}}

    <div class="container-fluid">
        <div class="img-container container">
            {% for img in imgs %}
                <div class="card img-display">
                    <img class="card-img-top img-responsive" src="{{ img.image.url }}" alt="img">
                    <div class="card-body text-right">
                        <a href="{% url 'imager' img.id %}" class="btn btn-warning img-link">View - {{ img.img_name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}